body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #121212, #1e1e1e);
    color: #eee;
}

.header {
    background-image: url(top.jpg);
    background-size: cover; /* You can adjust this property based on your preference */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.header h1 {
    color: #eee;
    text-shadow: 0 0 3px #000000;
    margin: 0;
}

.header h2 {
    color: #eee;
    margin: 10px 0 0;
    font-size: 16px;
    text-shadow: 0 0 3px #000000;
    text-align: center;
}

h1 {
    margin: 10;
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
    text-align: center;
    padding: 0.5em 2em 0;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: #333;
}

LBtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: #333
}

th, td {
    border: 1px solid #555;
    text-align: left;
    padding: 10px;
}

th {
    background: linear-gradient(to bottom, #2c2c2c, #1e1e1e);
    font-weight: bold;
    color: #eee;
}

table tr:hover {
    background-color: #444;
}

form {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

input, button {
    padding: 10px;
    margin-right: 10px;
    background-color: #555;
    color: #eee;
    border: 1px solid #555;
    border-radius: 5px;
}

input:hover, input:focus, button:hover {
    border-color: #007bff;
}

.no-matches {
    color: #ff6666;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 0 0 3px #FF0000;
    font-weight: bold;
}

.sticky-table {
    top: 0;
    background-color: #333;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #555;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #333;
    color: #eee;
}

.search-container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button:hover {
    background-color: #0056b3;
}

/* Add the following CSS styles for the scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

.footer {
    background-color: #333;
    padding: 6px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
}

.footer p {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eee;
}

.footer p.designed-by {
    font-size: 14px;
    color: #999;
    margin-top: -7px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.footer p.designed-by span {
    color: #e48632;
    font-weight: bold;
}

.footer p.designed-by a {
    color: #eee;
    text-decoration: none;
}

.footer p.designed-by a:hover {
    text-decoration: underline;
}

.footer p.arma {
    font-size: 12px;
    color: #999;
    margin-top: -10px;
    margin-bottom: 5px;
    opacity: 0.5;
}

/* Center the button */
#dark-mode-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

#dark-mode-toggle {
    padding: 10px;
    cursor: pointer;
}
